th{
    background-color: rgb(99, 156, 241);
    color: black;
    font-size: 25px;
    font-style: oblique;
    
    
}
table{
   border-collapse: collapse;
}
.titulo{
    font-size: 30px;
    color:rgb(12, 2, 29);
    font-weight:bolder;
    font-style:inherit;
    font-family:cursive;
    
}
.subtitulo{
    font-size: 35px;
    color: rgb(230, 59, 139);
    font-weight: 700;
 }
 
 body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:bisque;
    display: flex;
 }
 .img-1{
    border-radius: 15px;
 }
 #especial{
    font-size: 30px;
    color:rgb(230, 59, 139);
 }
 h3{
   
   background-color: rgb(17, 1, 13);
   margin-bottom: 10px;
 }
 p{
   font-size: 20px;
   background-color: coral;
   padding: 100px;
   border-radius: 10px;
 }
 @media (width<=768px) {
   
   .titulo{
       font-size: 3em;
   }
   .subtitulo{
       font-size: 2em;
   }
}